/*=======01 基礎設定：大家都共同的東西===========*/
html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
h2 {
  margin-top: 120px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;/*  全部大寫*/
  letter-spacing: 2px;/* 字間距離*/
}
button:focus {
  outline: none;
}


/*=======02 Header===========*/
header {
position: fixed;
width: 100%;
left: 0;
right: 0;
background-color:	#A1D562;
z-index:100;
}



#logo{
  float:left;
}
.nav{
  float:right;
}
.nav li{
  display:inline-block;
}
.nav li a{
  color:#fff;
  text-transform:capitalize;
  display: block;
  padding: 8px 8px;
}
/* ==========03 Homepage Background Image============*/
.home_bg{
  background-image: url(../images/Profile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width:100%;
  height:100%;
}
.home_bg .social_icons img{
  width: 100%;
margin-left: 0px;
margin-top: 15px;
}
.overlay{
  background: rgba(0,0,0,0.3);
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

.container_table{
  display:table;
  width:100%;
  height:100%;
  position:relative;
}
.container_table_cell{
  display:table-cell;
  text-align:center;
  vertical-align: middle;
}
.container_table_cell h2{
  color:#fff;
  text-transform: capitalize;
  font-size: 100px;
}
.container_table_cell h3{
  color:#fff;
  text-transform: capitalize;
  font-size: 30px;
  font-family: 'Cinzel', serif;
}
.container_table_cell p{
  color:#fff;
  font-size: 20px;
  font-family: 'Source Serif Pro', serif;
}
.social_icons a{
  color:#fff;
  display:inline-block;
  width:30px;
  height:40px;
  line-height: 40px;
  font-size:30px;
  margin-right: 7px;
}
/*=============04 about_me================*/
.about_me{
  padding: 100px 0;
}


.col-left, .col-right {
  float: left;/* div設為float不會那入About Me的區塊*/
  width: 50%;
  padding: 0 15px;/* 中間有空間*/
}
.personal-info h3 {
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 6px;
  text-transform: capitalize;/* 第一字母大寫*/
}

.personal-info p {
  color: #767676;
  line-height: 24px;
  text-align: justify;/* 左右對齊*/
}
.skill {
  margin: 30px auto;/* 上下有間距*/
}

.skill li {
  font-size: 15px;
  line-height: 35px;
  text-transform: capitalize;
}
.button-group .download_cv, .button-group .hire_me {
  display: inline-block;/* 水平排列*/
}

.button-group .download_cv {
  margin-right: 18px;/* 兩者有間距*/
}

.button-group a {
  display: block;
  color: #000;/* 黑匡*/
  border: 1px solid #333;/* 實線*/
  border-radius: 10px;/* 圓角*/
  padding: 10px 38px;/* 按鈕裡面的空間*/
  text-transform: capitalize;
}
.button-group a:hover {
  background: #000;/* 底色變黑*/
  color: #fff;/* 文字變白*/
  -webkit-transition: all .4s linear;
-moz-transition: all .4s linear;
-ms-transition: all .4s linear;
-o-transition: all .4s linear;
transition: all .4s linear;/*底色緩慢變黑開始到結束4秒*/
}

.clearfix::after {/*解決float 問題＝需在ＨＴＭＬ的ＡＢＯＵＴＭＥ家上clearfix*/
  content: '';
  display: table;
  clear: both;
}
/*=============04 My Service================*/
.my_service {
  padding: 100px 0;/*上下空間*/
  background-color: #f9f9f9;
}
.service-content {
  float: left;/*須到ＨＴＭＬ加上clearfix */
  width: 33.33333333%;/*100%/3分三塊*/
  padding: 0 15px;/*三格中間區塊 不用Margin才不會往下掉*/
}

.service-content i {
  font-size: 30px;
  line-height: 46px;
}

.service-content h3 {
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 13px;
  margin-bottom: 8px;
  text-transform: capitalize;/*首字大寫*/
}

.service-content p {
  color: #767676;
  font-size: 14px;
  font-weight: 300;/*內建Normal=400*/
  line-height: 24px;
}
.service-items .go-shopee, .service-items .go-fb {
  display: inline-block;/* 水平排列*/
  float: left;;/* 水平排列*/
  width: 30%;/*一排3個*/
  padding: 0 50px;/*左右間隔*/
  margin-top: 40px;
  margin-left: 150px;
  text-align: center;
}


.service-items a {
  display: block;
  color: #000;/* 黑匡*/
  border: 1px solid #333;/* 實線*/
  border-radius: 10px;/* 圓角*/
  padding: 10px 38px;/* 按鈕裡面的空間*/
  text-transform: capitalize;
}
.service-items a:hover {
  background: #000;/* 底色變黑*/
  color: #fff;/* 文字變白*/
  -webkit-transition: all .4s linear;
-moz-transition: all .4s linear;
-ms-transition: all .4s linear;
-o-transition: all .4s linear;
transition: all .4s linear;/*底色緩慢變黑開始到結束4秒*/
}

/*=============05 Ｒesume================*/
.resume {
  background-image: url(../images/Profile2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;/*固定圖片可以滾動的效果*/
  position: relative;/* overlap的position是absolute所以要加*/
  width: 100%;
  height: 50%;
}
.resume-inner {
  color: #fff;
  text-align: center;
}

.resume-inner h3 {
  padding-top:90px;
  font-size: 28px;
  text-transform: capitalize;
}

.resume-inner p {
  font-size: 14px;
  margin-top: 12px;
}

.resume-inner a {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 11px;
  padding: 12px 49px;
  display: inline-block;
  margin-top: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/*=============06 Quotes================*/
.quotes {
  background-image: url(../images/abg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;/*固定圖片可以滾動的效果*/
  position: relative;/* overlap的position是absolute所以要加*/
  width: 100%;
  height: 50%;
}
  .quote-inner {
    color: #fff;
    text-align: center;

  }

  .quote-inner h3 {
    padding-top:90px;
    font-size: 28px;
    text-transform: capitalize;
  }

  .quote-inner p {
    font-size: 14px;
    margin-top: 12px;
  }


  .quote-inner  a {
    display: block;
    color: #fff;/* 黑匡*/
    border: 1px solid #fff;/* 實線*/
    border-radius: 10px;/* 圓角*/
    padding: 10px  ;/* 按鈕裡面的空間*/
    text-transform: capitalize;
    margin :auto;
    margin-top :40px;
    width: 30%;
  }
  .quote-inner  a:hover {
    background: #000;/* 底色變黑*/
    color: #fff;/* 文字變白*/
    -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;/*底色緩慢變黑開始到結束4秒*/
  }
  /*=============07 Latest Works================*/
  .works {
    padding: 100px 0;
    background-color: #f7f7f7;
  }

  .col-work {
    float: left;/* 水平排列*/
    width: 33.3333333333%;/*一排3個*/
    padding: 0 15px;/*左右間隔*/
    }

  .col-work a {
    display: block;
    margin-bottom: 14px;/*將上下圖分左右*/
    position: relative;
    -webkit-transition: .2s linear;/*滑鼠移進去*/
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    top: 0;/*設定起始位置*/
    left: 0;
  }

  .col-work a:hover {
    box-shadow: 0 16px 22px 0 rgba(90, 91, 95, 0.3);/*滑鼠移進去有陰影*/
    top: -5px;
  }
  .col-work h3 {
        text-align:center;
        vertical-align: middle;
    font-size: 28px;
    text-transform: capitalize;
  }
  .col-work img {
    width: 50%;
    margin-left: 90px;
    height: auto;
    display: block;
    border-radius: 20px;
  }
  /*=============08 Contact Form================*/
.contact .container h2 {
  margin-top: 75px;
}
.contact-form {/*將Form水平置中*/
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.contact-form .form-input:first-child,
.contact-form .form-input:nth-child(2) {/*nth-child 是選擇器*/
  float: left;/*需水平排列各佔一半*/
  width: 50%;
  padding: 0 15px;
}

.contact-form .form-input:nth-child(3) {/*自己獨佔一排不用float*/
  width: 100%;
  padding: 0 15px;
}
.contact-form input.form-style {/*姓名ＥＭＡＩＬ匡*/
  width: 100%;/*長度變長*/
  border: none;/*取消匡線*/
  border-bottom: 1px solid #333;/*只留底下匡線,黑底線加粗*/
  text-transform: capitalize;/*首字大寫*/
  padding-bottom: 19px;/*文字與底線間有間隔*/
  margin-bottom: 12px;
  outline: none;/*不喜歡點下去有藍色匡匡*/
}
.contact-form textarea {/*意見匡*/
  width: 100%;/*長度變長*/
  border: none;/*取消匡線*/
  border-bottom: 1px solid #333;/*只留底下匡線,黑底線加粗*/
  outline: none;/*不喜歡點下去有藍色匡匡*/
}

.form-submit {
  text-align: center;/*按鈕在左邊*/
  padding: 0 15px;
}
.form-submit input {
  font-size: 16px;/*字體變大*/
  text-transform: capitalize;/*首字大寫*/
  background-color: transparent;/*底色透明*/
  border: 1px solid #000;/*外誆*/
  border-radius: 12px;/*圓滑外誆*/
  padding: 15px 60px;/*推開空間*/
  margin-top: 16px;/*推開空間*/
  margin-bottom: 14px;/*推開空間*/
  cursor: pointer;/*滑鼠移到按鈕上會變手指頭*/
  -webkit-transition: .4s linear;/*黑底白字 緩慢變化用transition 4秒 加上瀏覽器前綴詞*/
  -moz-transition: .4s linear;
  -ms-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
}

.form-submit input:hover {
  background-color: #000;
  color: #fff;
}
  /*=============09 Footer================*/
footer {
  padding: 80px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.footer-content p {
  line-height: 22px;
}

.footer-social-icon a i {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 15px;
}

/*=============10 GoBackButton================*/
#goBackBtn {
  color: green;
  width: 50px;
  height: 50px;
  /* static, relative, absolute, fixed */
  position: fixed;
  z-index: 1000;
  right: 15px;
  bottom: 15px;
  /* 導圓角 */
  border-radius: 50%;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  /* 讓此元素在畫面中隱藏(不存在) */
  display: none;
}
[id^='goBackBtn']:hover{
  /* hover後設定為不透明 */
  cursor: pointer;
  background-color:#d7d7d8;
  font-size:15px;
  transition: all .1s ease;
}
[id^='goBackBtn']:active {
  background-color: rgb(104, 148, 70);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*=============11 Map================*/
/* 放入google map必須要有寬度與高度，先拉出高與寬的區塊 */
#map{
  width:100%;
  height:480px;
  background-color: #ccc;
}
/*=============12 Right Menu================*/
.right-menu1{
  background-color: #A1D562;
  width: 80px;
  height: 165px;
  font-size:15px;
  text-align: left;
  border:none;
  /* static, relative, absolute, fixed */
  position: fixed;
  z-index: 1000;
  right: -75px;
  bottom:220px;
  border-radius: 4px;/* 圓角*/
}

[id^='choose1']:hover{
  /* hover後設定為不透明 */
  cursor: pointer;
  transition: all .5s ease;
  right: 0px;
  right: -5px;
  
}
.nav-link1{
  font-size: 21px;
  margin-bottom: -10px;
  text-transform: capitalize;
}